body::before {
  content: "";
  background-image: url('Marca\ Vetorizada.svg');
  background-size:auto ;
  position: fixed;
  background-repeat: no-repeat;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
  z-index: -2;
}

@media (min-width:1080px){

  #escrita{width: 400px;
    height: 200px;
    position: fixed;
    top: -73px;
    left: 30px;
    z-index: 4;}
    
    #pingo{width: 11px;
    height: auto;
    position: fixed;
    top: 8px;
    left: 130px;
    z-index: 4;}
  
  main{
    margin-top: 60px;
    background-color: rgba(255, 180, 180, 0.1);
  }

  .flexbox{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: rgba(255, 180, 180, 0.5);
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .menu{
    justify-content: end;
  }

  .menu button{
    font-size: 33px;
  }

  #icon{width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;}
    
  #icon:hover{
    background-color: rgba(255,255,255, 0.3);
    border-radius: 50%;
  }

  #seta{
    width: 0px;
    height: 0px;
  }

  .flexbox div {
    border: #FFF solid 2px;
    margin: 5px;
    width: 300px;
    height: auto;
    border-radius: 2%;
    text-align: center;
    text-orientation: upright;
  }

  .flexbox div:hover{
    background-color: rgba(255,255,255, 0.3);
  }

  .work{
    display: flex;
    z-index: 2;
    width: 1074px;
    height: 500px;
    top: -25px;
    flex-wrap: wrap;
    margin: auto;
    border: pink 3px solid;
    position:relative;
    text-align: center;
  }
  
  .work div{
    background-color: rgba(255, 180, 180, 0.2);
    border: 2px pink solid;
    margin: 2px;
    text-align: center;
  }

  .work div button{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 350px;
    height:200px;
    background-color: transparent;
    font-size: 50px;
    border: 0px;
  }
  
  .work::before{ 
    content: "";
    background-image:url(Flor\ de\ Lótus.svg);
    background-size: 234px;
    opacity: 0.3;
    position: absolute;
    background-repeat: repeat;
    top: 15px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -2;}
  
  .work div:hover{
    background-color: rgba(255, 180, 180, 0.3);
  }
  .extras{
      display: flex;
      border: 6px pink double;
      width: 1400px;
      text-align: center;
    }

  .atendimento{
  max-width: 800px;
  margin: auto;
  background-color: rgba(255, 180, 180, 0.2);
  border: 6px pink double;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.atendimento div{
  margin: auto;
  margin-bottom: 20px;
  max-width: 750px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px pink solid;
}
  
  #back{
    background-color: rgba(255, 180, 180, 0.5);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 2px pink solid;
    font-size: 30px;
    cursor: pointer;
  }

  .back:hover{
    background-color: rgba(255, 180, 180, 0.3);
  }
}

@media (max-width:1080px){

  #basico{
    width: 100%;
    height: 85px;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 180, 180, 0.5);
    z-index: 3;
  }

  #escrita{width: 1000px;
    height: 200px;
    position: fixed;
    bottom: -60px;
    z-index: 4;
    }
  
  #pingo{display: none;}

  main{
    margin-top: 60px;
    background-color: rgba(255, 180, 180, 0.1);
  }

  .flexbox{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: rgba(255, 180, 180, 0.5);
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .flexbox div {
    border: #FFF solid 2px;
    margin: auto;
    height: auto;
    width: 40%;
    border-radius: 2%;
    text-align: center;
    font-size: 30px;
    color: black;
  }

  .flexbox div:hover{
    background-color: rgba(255,255,255, 0.3);
  }

  .flexbox button{
    width: 100%;
    text-align: center;
  }

  .menu{
    justify-content: end;
  }

  .menu button{
    font-size: 50px;
    text-align: center;
  }

  #seta{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    z-index: 5;
    background-color: rgb(255, 180, 180);
    border-radius: 50%;
    opacity: 0.7;
  }

  .work{
    display: flex;
    z-index: 2;
    width: 100%;
    height: auto;
    top: -25px;
    flex-wrap: wrap;
    margin: auto;
    border: pink 3px solid;
    position:relative;
    text-align: center;
  }
  
  .work div{
    background-color: rgba(255, 180, 180, 0.2);
    border: 2px pink solid;
    margin: 2px;
    text-align: center;
  }

  .work div button{
    text-align: center;
    min-width: 955px;
    max-width: 90%;
    height: 315px;;
    background-color: transparent;
    font-size: 60px;
    border: 2px;
  }
  
  .work::before{
    content: "";
    background-image:url(Flor\ de\ Lótus.svg);
    background-size: 480px;
    opacity: 0.3;
    position: absolute;
    background-repeat: repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -2;
  }

  #icon{
    width: 0px;
    height: 0px;
  }

  #back{
    width: 0px;
    height: 0px;
    font-size: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
  }

  .atendimento{
    max-width: 800px;
    max-height: 100%;
    margin: auto;
    background-color: rgba(255, 180, 180, 0.2);
    border: 6px pink double;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .atendimento form div{
    margin: auto;
    margin-bottom: 20px;
    max-width: 750px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px pink solid;
    font-size: 60px;
  }
}

.flexbox div button:visited{
  color: purple;
}

.flexbox div button:link{
  color: black
}

.flexbox div button:hover{
  color: purple;
  text-decoration: underline;
}

.work div button:visited{
  color: purple;
}

.work div button:link{
  color: black
}

.work div button:hover{
  cursor: pointer;
  color: purple;
  text-decoration: underline;
}

#area{
  text-align: center;
  margin: auto;
  max-width: 1070px;
  background-color: rgba(255, 180, 180, 0.2);
  border: 6px pink double;
}

.atendimento{
  max-width: 800px;
  margin: auto;
  background-color: rgba(255, 180, 180, 0.2);
  border: 6px pink double;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.atendimento div{
  margin: auto;
  margin-bottom: 20px;
  max-width: 750px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px pink solid;
}

.atendimento div p{font-size: 30px;}

.menu button{
  cursor: pointer;
  width: 300px;
  background-color: transparent;
  margin: 0px;
  border: 0px;
}

#info{
  background-color: rgba(255, 180, 180, 0.4);
  text-align: center;
  margin-bottom: 10px;
  border-bottom: pink 2px solid;
}

.contatos{
  max-width: 800px;
  margin: auto;
  background-color: rgba(255, 180, 180, 0.2);
  border: 6px pink double;
  padding-bottom: 10px;
}

.contatos p{font-size: 45px;}

#lista div textarea{
  width: 90%;
  resize: vertical;
  margin-bottom: 20px;
  font-size: 30px;
}

h1{
  font-size: 50px;
}

h2{
  background-size: content;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: initial;
  z-index: 1;
  font-size: 40px;
}

h3{
  background-size: content;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: initial;
  z-index: 1;
  font-size: 35px;
}

p{
  font-size: 25px;
  max-width: 1400px;
  margin: auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: initial;
}

#lista div label{
  font-size: 30px;
}

#lista div input{
  text-align: center;
  width: 40%;
  height: 30px;
  font-size: 25px;
}

#enviar{
    background-color: rgba(255, 180, 180, 0.5);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 0px pink solid;
    font-size: 30px;
    cursor: pointer;
    width: 100%;
}

#enviarDiv{
  text-align: center;
}

a{
  text-decoration: none;
}



#reiki{display: none;}
#limpeza{display: none;}
#registros{display: none;}
#energia{display: none;}
#divorcio{display: none;}
#missao{display: none;}
#back{display: none;}

.atendimento{display: none;}
.contatos{display: none;}